.feed  { 
    display: flex;
    flex: 0.85;
    background-color: #DAE0E6;
    flex-direction: column;
    overflow-y: scroll;
}

.trendingTodayHeader {
    font-weight: 400;
    margin-left: 2rem;
    margin-top: 1rem;
}

.trendingHeader { 
    display: flex;
}

.createPostButton { 
    margin-left: 1rem;
    height: 2rem;
    margin-top: 1rem;
    border: none;
    background-color: rgb(255, 55, 0);
    border-radius: 20px;
    font-weight: bold;
    color: white;
    width: 7rem;
}

.createPostButton:hover {
    background-color: rgb(255, 111, 72);
    cursor: pointer;
}

.pictureBlock {
    display: flex;
}

.popularPostsHeader {
    margin-left: 2rem;
    margin-top: 3rem;
    font-weight: bold;
}
