.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    height: 3rem;
    padding-left: 1.2rem;
    width: 100%;
  }
  
  .header h3 {
    font-size: 1.5rem;
    font-weight: normal;
    display: flex;
    padding-bottom: 1rem;
  }
  
  .searchRedditInput {
    margin-left: 8rem;
    border-radius: 20px;
    outline: none;
    width: 35rem;
    height: 2.3rem;
    font-size: 1rem;
    padding-left: 1rem;
    background-color: #f2f2f2;
    border: none;
    padding-right: 1rem;
  }

  .searchRedditInput:hover { 
    background-color: white;
    border: rgb(85, 85, 255) solid 1px;
  }
  
  .get-app-button,
  .log-in-button {
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 30px;

  }
  
  .get-app-button {
    font-size: 0.9rem;
    margin-left: 20rem;
    background-color: lightgray;
    color: black;
    width: 8rem;
  }
  
  .log-in-button {
    font-size: 0.9rem;
    margin-left: 1rem;
    background-color: orangered;
    width: 5rem;
  }
  
  .userIcon {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  