.pictureContainer {
    width: 14rem;
    height: 12rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));

}

.pictureContainer::before {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
    content: "";
    z-index: 1;
}

.title { 
    color: white;
    margin-left: 1rem;
    margin-top: 6rem;
}


